body
{
	background-color:lightgray;
}
header
{
	margin:auto;
	width:25%;
	height:180px;
	text-align:center;
}
#container
{
	margin-left:36%;
	height:800px;
	width:45%;
}
#main
{
	float:left;
	width:60%;
	height:100%;
	text-align:center;
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
	background-color:white;
}
#help
{
	float:right;
	/*width:20%;
	margin-left:auto;*/
	width:38.5%;
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
	background-color:white;
}
#help h1
{
	text-align:center;
}
table
{
	width:100%;
	height:100%;
}
#answerButton
{
	float:right;
	margin-right:38%;
	margin-top:0.5%;
}
#resetButton
{
	float:left;
	margin-left:37%;
	margin-top:0.5%;
}