body
{
	background-color:#E3DEC1;
}
header
{
	margin:auto;
	width:25%;
	min-width:320px;
	height:200px;
	text-align:center;
}
#container
{
	margin-left:36%;
	height:800px;
	min-width:500px;
	width:45%;
}
#main
{
	float:left;
	width:60%;
	min-width:155px;
	height:100%;
	text-align:center;
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
	background-color:#F2EFE4;
}
#help
{
	float:right;
	min-width:160px;
	width:38.5%;
	background-color:#F2EFE4;
	
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
	margin-bottom:2%;
}
#help h1
{
	text-align:center;
}
#hints
{
	float:right;
	min-width:160px;
	width:38.5%;
	background-color:#F2EFE4;
	
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
	
	font-size:25px;
}
#hints h1
{
	text-align:center;
}
table
{
	width:100%;
	height:100%;
}
#buttons
{
	min-width:326.5px;
	width:26%;
	margin-top:0.5%;
	float:left;
	margin-left:36.5%;
}
#resetButton
{
	float:left;
	background-color:lightblue;
}
#easyButton
{
	margin-left:2.5%;
	float:left;
	background-color:#FFFF66;
}
#normalButton
{
	margin-left:2.5%;
	background-color:#FFCC66;
}
#helpButton
{
	float:right;
	margin-right:2.5%;
	background-color:white;
}
#answerButton
{
	float:right;
	background-color:lightgreen;
}
.green
{
	color:#00CC00;
	margin-left:25%;
}
.blue
{
	color:#00CCFF;
	margin-left:25%;
}