body
{
	/*background-color:lightyellow;*/
	background-color:#E3DEC1;
}
header
{
	margin:auto;
	width:25%;
	min-width:320px;
	height:180px;
	text-align:center;
}
#container
{
	margin-left:36%;
	height:800px;
	min-width:500px;
	width:45%;
}
#main
{
	float:left;
	width:60%;
	min-width:155px;
	height:100%;
	text-align:center;
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
	background-color:#F2EFE4;
}
#help
{
	float:right;
	/*width:20%;
	margin-left:auto;*/
	min-width:160px;
	width:38.5%;
	background-color:#F2EFE4;
	
	border-radius:5%;
	box-shadow: 5px 5px 2px #888888;
}
#help h1
{
	text-align:center;
}
table
{
	width:100%;
	height:100%;
}
#buttons
{
	min-width:155px;
	width:60%;
	margin-top:0.5%;
	float:left;
	margin-left:20%
}
#answerButton
{
	background-color:lightgreen;
	margin-left:28.5%
}
#resetButton
{
	background-color:lightblue;
	margin-left:28.5%;
}